html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(40deg, #7900FF 50%, #94B3FD 50%);
  /* min-height: 1000px; */
  min-height: 100vh;
  font-family: 'helvetica neue';
}

h1 {
  color: #fff;
  padding: 10px;
  margin-top: 0;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  
  background: rgba( 121, 0, 255, 0.3 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 0px );
-webkit-backdrop-filter: blur( 0px );
border-radius: 10px;
}
.box em{
  margin: 0;
  color:honeydew;
  padding-top: 30px;
  font-family:cursive;
}
#heading {
  /* background-color: #7900FF; */
  text-align: center;
  padding: 3% 0;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

#checked:checked+p {
  text-decoration: line-through;
  text-decoration-color:blueviolet;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color:whitesmoke
}

.form {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #7900FF;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
  cursor: pointer;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: ghostwhite;
  font-size: 20px;
  font-weight: 200;
  width: 343px;
  margin-right: 20px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #A683E3;
}

::placeholder {
  color:grey;
  opacity: 1;
}


  footer {
    position: relative;
    top: 20px;
    /* right: 40%; */
    color: white;
    font-size: 12px;
width: 30%;
margin: auto;
text-align: center;
}

